*{
    padding: 0px;
    margin: 0px;
}
body {
}
._main_header{
    background: #ccc;
    padding: 15px 90px;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-between
  
}._main_header h3{
     font-size: 2em;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-weight: 700;
 }
._main_nav{
    display:inline-flex;
    flex-wrap:wrap;
    flex-direction:column;

}
._main_nav ul{
    list-style:none;
    display:flex;
    flex-direction:row;
}
._main_nav ul li{
    display: flex;
    flex-wrap:wrap;
    padding: 5px;
}
._main_nav ul li a{
    color:black;
    font-size: 16px;
    text-decoration: none;
    padding: 5px;
}
._main_nav ul li a:hover{
    transition: 0.5s;
    color: white;
    background: #444;
}

._login_section {
    display: flex;
    flex-direction:row;
    padding: 15px;
    justify-content:center;
    align-items:center;
    width: 95%;
    height:80vh;
}

._login_section form{
    display: flex;
    flex-direction: column;
    padding: 15px;
    width:20%;
    border:1px solid black;
    background: whitesmoke;
}
._login_section form div{
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
    padding: 15px;

}
._login_form_label{
    font-size: 16px;
    font-weight:500;
    font-family: 'Old English Text MT';
}
._login_input{
    padding:5px;
    font-size: 16px;
}

._secondary_btn{
    display:flex;
    flex-wrap:wrap;
    padding:8px;
    justify-content:center;
    align-items:center;
    background: #111;
    color:#fff;
    border:none;
    
}
._login_btn:hover{
    cursor:pointer;
    opacity: 0.8;
}

._primary_btn {
    display: flex;
    flex-wrap: wrap;
    padding: 8px;
    justify-content: center;
    align-items: center;
    background: #111;
    color: #fff;
    border: none;
}

._section_img_div {
    display: flex;
    width: 25%;
}

._section_img {
    width: 100%;
    height:53vh;
}

/*Register section css*/

._register_section{
    display:flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    height: 80vh;
}
._register_section form{
    border: 1px solid #222;
    background:whitesmoke;
    padding:10px;
}
._register_h4{
    text-align:center;
    font-size: 1.5em;
    font-weight:600;
    font-family: Tahoma;
}
._register_section form div{
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    padding:15px;
    justify-content:flex-start;
    align-items:center;
}
._register_label {
    padding: 5px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Old English Text MT';
}
._register_input{
    padding: 8px;
    font-family: 16px;
}
